@import '../assets/scss/variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../assets/scss/common';
@import '../assets/scss/buttons';

span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  @apply text-reverse-primary;
}

body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
